<div id="bar" class="bar-header">
    <div>
        <div class="wrapper">
            <div id="logo">
                W
            </div>

            <a href="http://morphism.org">
                <i class="fa fa-home"></i>
                Morphism
            </a>
            <a href="http://bot.morphism.org/guide/">
                <i class="fa fa-tasks"></i>
                Quick Guide
            </a>
            <a href="http://bot.morphism.org/">
                <i class="fa fa-tasks"></i>
                Statistics
            </a>
            <a href="http://bot.morphism.org/commands/">
                <i class="fa fa-comment"></i>
                Command List
            </a>
        </div>
    </div>
</div>

