{% extends "__base.html" %}

{% block content %}
    <span class="title">Commands</span>
    <ul>
        <li><code>.buttify</code>Buttify a message.</li>
        <li><code>.down</code>Check if a website is currently down.</li>
        <li><code>.filter</code>Filter message through a filter.</li>
        <li><code>.google</code>Search google.</li>
        <li><code>.karma</code>Show current top karma.</li>
        <li><code>.porn</code>See recent searched on PornMD.</li>
        <li><code>.quote</code>View channel quotes.</li>
        <li><code>.re</code>Manage regular expressions.</li>
        <li><code>.remember</code>Remember factoids (?fact to lookup)</li>
        <li><code>.seen</code>See when the last time walnut saw a user was.</li>
        <li><code>.stroustrap</code>Random wise quotes from the Bible.</li>
        <li><code>.urban</code>Urban dictionary definitions.</li>
        <li><code>.wik</code>Wikipedia article summaries.</li>
        <li><code>.youtube</code>Search youtube.</li>
    </ul>

{% endblock %}

