<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bruh</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="http://localhost:8080/static/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    </head>
    <body>
        <div id="bar" class="bar-header">
            <div>
                <div class="wrapper">
                    <div id="logo">
                        W
                    </div>

                    <a href="#/">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                    <a href="#/texts/">
                        <i class="fa fa-comment"></i>
                        Commands
                    </a>
                    <a href="#/project/">
                        <i class="fa fa-tasks"></i>
                        Statistics
                    </a>
                </div>
            </div>
        </div>

        <div id="container">
            <span class="title">Walnut</span>
            <p>
                This is the home-page of the most over-engineered IRC bot ever
                made. Walnut is an IRC bot that runs on Rizon mainly created to
                compile and execute several languages, but over time has become
                insanely bloated with hundreds of features, this website is one
                of those features, being served by the bot itself.
            </p>
        </div>
    </body>
</html>
